{% if vendor.advance_amount %}
<div id="service_type" class="card-body">
    <div class="sub-title">{{vendor.name| title}} has an advance amount of {{vendor.advance_amount}}. Do You want to deduct the amount from advance Paid.</div>
    <form class="form-inline">
        <div class="checkbox">
            <input type="checkbox" class="group1"  id="vehical_service" name="vehical_service">
            <label for="exampleInputEmail2">
                Yes
            </label>
        </div>
        <div class="checkbox">
            <input type="checkbox" class="group1" id="other" name="other">
            <label for="exampleInputEmail2">
                No
            </label>
        </div>
    </form>
</div>
{% endif %}
